MUSIMACK_APPLICATION_NAME="Musimack SEO Toolkit"
MUSIMACK_ENVIRONMENT="development"
MUSIMACK_LOG_LEVEL="INFO"
MUSIMACK_CRAWLER_USER_AGENT="MusimackSEOToolkit/0.1"
MUSIMACK_DEFAULT_MAXIMUM_URLS=5000
MUSIMACK_DEFAULT_MAXIMUM_CRAWL_DEPTH=10
MUSIMACK_DEFAULT_REQUEST_TIMEOUT_SECONDS=20
MUSIMACK_DEFAULT_PER_HOST_CONCURRENCY=2
MUSIMACK_DEFAULT_GLOBAL_CRAWL_CONCURRENCY=4
MUSIMACK_DEFAULT_MINIMUM_REQUEST_DELAY_SECONDS=0.5
MUSIMACK_INCLUDE_SUBDOMAINS_BY_DEFAULT=false
MUSIMACK_FETCH_MAXIMUM_REDIRECT_HOPS=10
MUSIMACK_FETCH_MAXIMUM_RESPONSE_BODY_BYTES=5000000
MUSIMACK_FETCH_MAXIMUM_RESPONSE_HEADER_BYTES=65536
MUSIMACK_FETCH_MAXIMUM_DNS_ANSWERS=16
MUSIMACK_FETCH_CONNECT_TIMEOUT_SECONDS=10
MUSIMACK_FETCH_READ_TIMEOUT_SECONDS=20
MUSIMACK_FETCH_WRITE_TIMEOUT_SECONDS=10
MUSIMACK_FETCH_POOL_TIMEOUT_SECONDS=10
MUSIMACK_FETCH_TOTAL_REQUEST_DEADLINE_SECONDS=30
MUSIMACK_FETCH_RETRY_COUNT=1
MUSIMACK_FETCH_PERMITTED_PRODUCTION_PORTS=[80,443]
MUSIMACK_FETCH_HTTP_ALLOWED=true
MUSIMACK_FETCH_HTTPS_ALLOWED=true
MUSIMACK_FETCH_TRUST_ENVIRONMENT_PROXIES=false
MUSIMACK_CRAWL_MAXIMUM_DURATION_SECONDS=1800
MUSIMACK_CRAWL_MAXIMUM_TOTAL_FETCHED_BYTES=500000000
MUSIMACK_CRAWL_MAXIMUM_CONCURRENT_FETCHES=4
MUSIMACK_CRAWL_MAXIMUM_QUEUED_URLS=10000
MUSIMACK_CRAWL_QUERY_URLS_ALLOWED=true
MUSIMACK_CRAWL_HARD_MAXIMUM_URLS=50000
MUSIMACK_CRAWL_HARD_MAXIMUM_DEPTH=50
MUSIMACK_CRAWL_HARD_MAXIMUM_DURATION_SECONDS=7200
MUSIMACK_CRAWL_HARD_MAXIMUM_TOTAL_FETCHED_BYTES=5000000000
MUSIMACK_CRAWL_HARD_MAXIMUM_CONCURRENT_FETCHES=16
MUSIMACK_CRAWL_HARD_MAXIMUM_QUEUED_URLS=100000
MUSIMACK_ROBOTS_USER_AGENT_PRODUCT_TOKEN="MusimackSEOToolkit"
MUSIMACK_ROBOTS_MAXIMUM_RESPONSE_BODY_BYTES=1000000
MUSIMACK_ROBOTS_MAXIMUM_LINE_LENGTH=8192
MUSIMACK_ROBOTS_MAXIMUM_LINE_COUNT=10000
MUSIMACK_ROBOTS_HARD_MAXIMUM_RESPONSE_BODY_BYTES=5000000
MUSIMACK_INTERNAL_API_ENABLED=false
MUSIMACK_INTERNAL_API_BEARER_TOKEN=""
MUSIMACK_INTERNAL_API_TOKEN_ID="internal-operator"
MUSIMACK_INTERNAL_API_ALLOWED_ORIGINS=""
MUSIMACK_INTERNAL_API_TRUSTED_PROXIES=""
MUSIMACK_INTERNAL_API_TRUSTED_NETWORKS=""
MUSIMACK_INTERNAL_API_INCLUDE_OPENAPI=false
MUSIMACK_INTERNAL_API_REQUEST_ID_HEADER="X-Request-ID"
MUSIMACK_INTERNAL_API_ACCESS_LOGGING=true
MUSIMACK_INTERNAL_API_SECURITY_HEADERS=true
MUSIMACK_INTERNAL_API_CORS_ENABLED=false
MUSIMACK_INTERNAL_API_MAXIMUM_FORWARDED_HOPS=5
MUSIMACK_INTERNAL_API_MAXIMUM_FORWARDED_HEADER_LENGTH=1024
MUSIMACK_INTERNAL_API_MAXIMUM_CORS_AGE_SECONDS=600
MUSIMACK_PERSISTENCE_ENABLED=false
MUSIMACK_PERSISTENCE_DATABASE_PATH=
MUSIMACK_PERSISTENCE_ECHO_SQL=false
MUSIMACK_PERSISTENCE_FOREIGN_KEYS=true
MUSIMACK_PERSISTENCE_BUSY_TIMEOUT_MILLISECONDS=5000
MUSIMACK_PERSISTENCE_JOURNAL_MODE=WAL
MUSIMACK_PERSISTENCE_SYNCHRONOUS_MODE=NORMAL
MUSIMACK_PERSISTENCE_CONNECTION_TIMEOUT_SECONDS=10
MUSIMACK_PERSISTENCE_AUTO_MIGRATE=false
MUSIMACK_PERSISTENCE_RECONCILE_ON_STARTUP=true
MUSIMACK_PERSISTENCE_CREATE_PARENT_DIRECTORY=false
MUSIMACK_PERSISTENCE_MAXIMUM_TERMINAL_JOBS=100
MUSIMACK_PERSISTENCE_MAXIMUM_PROGRESS_ROWS_PER_JOB=100
MUSIMACK_PERSISTENCE_MAXIMUM_WARNING_ROWS_PER_PARENT=100
MUSIMACK_PERSISTENCE_MAXIMUM_FAILURE_ROWS_PER_PARENT=100
MUSIMACK_PERSISTENCE_MAXIMUM_ARTIFACT_ROWS_PER_RUN=100
MUSIMACK_PERSISTENCE_MAXIMUM_SUMMARY_ROWS_PER_RUN=2
MUSIMACK_PERSISTENCE_RETAIN_EVICTED_JOB_METADATA=true
MUSIMACK_PERSISTENCE_RETAIN_INTERRUPTED_JOB_METADATA=true
MUSIMACK_DURABLE_EXECUTION_ENABLED=false
MUSIMACK_WORKER_ENABLED=false
MUSIMACK_WORKER_ID=
MUSIMACK_WORKER_MAX_CONCURRENCY=1
MUSIMACK_WORKER_POLL_INTERVAL_SECONDS=1
MUSIMACK_WORKER_LEASE_DURATION_SECONDS=30
MUSIMACK_WORKER_HEARTBEAT_INTERVAL_SECONDS=10
MUSIMACK_WORKER_STALE_AFTER_SECONDS=45
MUSIMACK_WORKER_MAX_CLAIM_BATCH=1
MUSIMACK_WORKER_RETRY_POLICY=never
MUSIMACK_WORKER_RETRY_DELAY_SCHEDULE=fixed
MUSIMACK_WORKER_RETRY_DELAY_SECONDS=5
MUSIMACK_WORKER_MAXIMUM_RETRY_DELAY_SECONDS=60
MUSIMACK_WORKER_MAXIMUM_ATTEMPTS=3
MUSIMACK_WORKER_SHUTDOWN_GRACE_PERIOD_SECONDS=30
MUSIMACK_WORKER_STARTUP_STALE_JOB_RECOVERY=true
MUSIMACK_WORKER_ORPHANED_LEASE_POLICY=recover
